<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Control Panel &nbsp; > &nbsp; Payment</ion-title>
  </ion-toolbar>
</ion-header>

<!--want to use this as my component sidemenu but i cant access it <app-sidemenu></app-sidemenu>-->
<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="success">
      <img src="assets/images/SafeRoadsPH-Menu-Logo.png" id="menu-image" slot="start"/>
      <ion-button color="danger" fill="clear" slot="end" (click)="closeMenu()"><strong>X</strong></ion-button>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <img src="assets/images/SafeRoadsPH-Banner.png" id="banner-image" />
    <ion-list>
      <ion-item button (click)="dashboard()">Dashboard</ion-item>
      <ion-item button (click)="studentList()">Student List</ion-item>
      <ion-item button (click)="payment()">Payment</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>
        <h1>Payments List</h1>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-card *ngFor="let item of data">
      <ion-row id="student-payment-details">
        <h4 id="payment-name">{{ item.lastname }}, {{ item.firstname }} {{ item.middlename }}</h4> <br>
        Email: {{ item.email }} <br>
        Amount paid: {{ item.amount }} <br>
        Payment date: {{ item.payment_date }} <br>
        Status: {{ item.status }}
      </ion-row>
  </ion-card>
</ion-content>
